.body{
    display: flex;
    flex-direction: column;
}

.chatBody{
    background-color: rgba(31, 217, 228, 20%);  
    
    min-height: 600px;
    min-width: 300px;
    
    margin-top: 30px;
    justify-content: center;
    transform: translate(3.5%,5%);

}

.chatTitle{
    font-size: 40px;
    font-family: "Fira Code";  /*PELO AMOR DE DEUS ARRANJAR UMA FONT BOA POR FAVOR*/
    padding-left: 20px;
    background-color: rgba(31, 217, 228, 15%);
    max-width: 380px;
    transform: translate(1.2%,10%);
    border-radius: 5px;
    margin-bottom: 20px;
}

.chatSubTitle{
    font-size: 30px;
    font-family: "Fira Code";
    padding-left: 20px;
    transform: translate(0%, -50%);
    
}

.messageBox{
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 77%);
    max-width: fit-content;
    padding: 7px;
    border-radius: 7px;

}

.messageWrite{
    transform: translate(3%, 720%);
    min-width: 300px;
    min-height: 40px;
}

.messageSend{
    background-color: rgba(255,255,255,77%);
    min-width: 70px;
    min-height: 40px;
    transform: translate(20%, 719%);
    border-radius: 7px;
}