
.reportbox {

    width: 328px;
    height: 44px;
    left: 33px;
    top: 207px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #242424;

}

.breakfastbox {

    width: 157px;
    height: 16px;
    left: 71px;
    top: 256px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #242424;

}

.lunchbox {

    width: 157px;
    height: 16px;
    left: 71px;
    top: 333px;
    margin-top: 40px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #242424;
}

.bathroombox {

    width: 157px;
    height: 16px;
    left: 71px;
    top: 412px;
    margin-top: 40px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #242424;
}

.sliders {
    display: flex;
    flex-direction: row;

}

.sleepbox {

    width: 157px;
    height: 16px;
    left: 71px;
    top: 497px;
    margin-top: 60px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #242424;
}



.iconline {
    display: flex;
    flex-direction: row;
}

.comment {
    width: 309px;
    height: 34px;
    left: 35px;
    top: calc(50% - 34px/2 + 185px);
    margin-top: 40px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #242424;
}

.commentbox {
    width: 332px;
    height: 135px;
    left: 29px;
    top: 619px;

    background: rgba(31, 217, 228, 0.1);
    border-radius: 10px;
}