@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --header: #4FA8DA;
  --profile: #F9E63F;
  --report: #FA6A9E;
  ;
  --chat: #56E787;
  --records: #CF81CF;
  --class: #CF81CF;
  --buttonMargin: 7vw;
}
