.navbar {
    background-color: var(--header);
    height: 10vh;
    width: 110%;
    margin: -10px;

    position: relative;
}

.logotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -40%);
  



}

/*Caixa dos botões \/\/\/\/*/
.navButtons {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    transform: translate(3%, 30%)
}

/*Para encaixar os botões na caixa*/
.profile, .report, .chat, .classe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    border: solid;
}

.profile {
    margin-right: var(--buttonMargin);


    border-radius: 50%;
    background-color: var(--profile);
    
    text-align: center;

    width: 70px;
    height: 70px;
    
    z-index: -1

}


.report {
    margin-right: var(--buttonMargin);

    border-radius: 50%;
    background-color: var(--report);

    text-align: center;

    width: 70px;
    height: 70px;
    z-index: -1
}


.chat {
    margin-right: var(--buttonMargin);

    border-radius: 50%;
    background-color: var(--chat);

    text-align: center;

    width: 70px;
    height: 70px;
    z-index: 10
}


.record {
    border-radius: 50%;
    background-color: var(--records);

    text-align: center;

    width: 70px;
    height: 70px;
    z-index: -1
}

.classe {
    border-radius: 50%;
    background-color: var(--records);

    text-align: center;

    width: 70px;
    height: 70px;
}

.iconeProfile {
    height: 100px;
    width: 100px;
}