.card {
    background-color: #ffff;
    width: 350px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}